@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Bree+Serif&family=Kanit:wght@300;500&family=Kdam+Thmor+Pro&family=League+Spartan:wght@100..900&family=Merriweather+Sans&family=Montserrat:wght@400;500&family=Newsreader:opsz@6..72&family=Oswald&family=Outfit:wght@100..900&family=Poppins&family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --body-bg:#0d1117;
    --header-footerbg:#0d1117;
    --header-footercolor:aliceblue;
    --curtain-bg:#f6f8fa;
    --body-text:hsl(0,0%,100%);
    --icon-bg:aliceblue;
    --layout:#0d1117;
    --button:linear-gradient(180deg,rgb(100, 100, 239) ,rgb(54, 54, 174));
    --skills-icon:aliceblue;
    --field-set:rgb(76, 76, 245);
    --inner-layer: #12161b;
    --inner-outer-shadow:1px 2px 4px rgb(66, 66, 66) , 1px 3px 10px #030202 inset;
    --inner-shadow:1px 1px 2px rgb(103, 103, 103);
    --inner-outer-shadow-footer:1px -2px 4px rgb(66, 66, 66) , 1px 3px 10px #030202 inset;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    transition: background-color .5s;
    font-family:'Lato';
    position: relative;//here
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}



 .menu label{
    display:flex;
     flex-direction:column;
     width:32px;
     height: 30px;
     cursor:pointer;
     align-items: flex-end;
   }
   
 .menu span{
     background:var(--header-footercolor);
     border-radius:10px;
     height:5px;
     margin: 2px 0;
     transition: .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
   }
   
   
  .menu span:nth-of-type(1){
     width:50%;
   }
   
  .menu span:nth-of-type(2){
     width:100%;
   }
   
   
  .menu span:nth-of-type(3){
     width:75%;
    
   }
   
   
   .menu input[type="checkbox"]{
     display:none;
   }
   
   
  .menu input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(-9px,11px)
   }
   
   
  .menu input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   .menu input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(-2px,-5px) rotatez(45deg);
   
   }
   



.about_fieldset span{
    font-size:16px !important;
    background:var(--inner-layer);
    border-radius: 8px;;
    padding: 8px;
    box-shadow: var(--inner-shadow);
    font-family: 'Lato';
}

.container{
    padding: 0 10px;
    padding-top:100px ;
}
.myHeader{
    height: 60px;
    width:100%;
    position:fixed;
    border-style:solid;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 3;
    background:var(--header-footerbg);
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: var(--inner-outer-shadow);
}
#theme-icon{
transition: .2s linear;
}
.headerGrid{
    display:grid;
    grid-template-areas: "logo brand switch menu";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85%;
    text-align: center;
    overflow-x: hidden;
    transition: width 0.5s ease-in;
    height: max-content;
    background-color:var(--inner-layer);
    border-radius: 8px;
    padding: 1px;
    box-shadow: var(--inner-shadow)
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width:35px;
    height: 35px;
}
.brand{
    grid-area:brand;
}
.switch{
    grid-area:switch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    grid-area:menu;
    display: flex;
    align-items: center;
     justify-content: center;
}
.curtain_menu{
    width:0;
    height: 85vh;
    position: fixed;
    transition:width 0.5s;
    margin-top: 68px;
    z-index: 1;
    border-radius: 0 10px 10px 0px;
    overflow-x: hidden;
    background-color:var(--curtain-bg);
    display: flex;
    justify-content:center;
}
.blurry{
    filter: blur(4px);
}
a{
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    color:var(--body-bg);
}
nav{
    text-align: left;
    margin-top: 25px;
    width: 86%;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide_link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.curtain_toggle{
    width:60%
}

.icon_size{
 font-size: 25px;
 color:var(--header-footercolor);
 cursor: pointer;
}

.box {
    width: 255px;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        background: var(--button);
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        font-family: 'Poppins';
        color: var(--curtain-bg);
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: var(--button);
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
         font-weight: 400;
        font-family: 'Lato';
        color: var(--curtain-bg);
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }






@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: var(--button);
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: var(--button);
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: var(--button);
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
  


.center_div1 img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    border: 10px solid var(--inner-layer);
    box-sizing: content-box;
    box-shadow: var(--inner-outer-shadow);
}
.flex{
    display:flex;
    justify-content: space-between;
    width: 260px;
    align-items: center;
    margin-top: 10px;
   }

.animation_container{
    width: 100%;
    justify-content: center;
    display: flex;
}

.contact_container{
    width: 130px;
    justify-content: space-between;
    height: 50px;
    display: flex;
    align-items: center;
}
.github, .x, .ldn, .whatsapp{
    width: 30px;
    height:30px;
    color:var(--skills-icon);
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    border-color: rgb(55, 55, 187);
    box-shadow:2px 2px 10px var(--icon-shadow);
}

.resume{
    width:100px;
    height: 30px;
    border-style: solid;
    background-color: var(--skills-icon);
    color: var(--layout);
    border-width: 0;
    border-radius: 4px;
    box-shadow:2px 2px 10px var(--icon-shadow) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Lato';
}
.contact_layout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.writeme_layout{
    width: 100%;
    height: 497px;
    padding: 28px 15px;
    background: var(--layout);
    box-sizing: border-box;
    border-radius: 12px;
    margin:10px 0 ;
    color: var(--body-text);
    box-shadow: var(--inner-outer-shadow);
    height: max-content;
}
.skills_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: max-content;
}
.about_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: max-content;
}
.project_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: max-content;
}
.writeme_layout input[type=email], input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 15px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: var(--inner-shadow);
    margin:5px 0;
}

input{
    display: block;
    cursor: pointer;
}
label{
    font-size: 13px;
    font-weight: 600;
}
.skill_fieldset{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: var(--field-set) ;
    border-width: .8px;
    border-radius: 5px;
    height: max-content;
}
.contact_fieldset{
    @extend .skill_fieldset;
    height: 400px;
    padding:10px 0;
    height: max-content;
}
.about_fieldset{
    @extend .skill_fieldset;
    padding: 13px 10px;
    height: max-content;
}
.project_fieldset{
    @extend .skill_fieldset;
    padding: 13px 10px;
    height: max-content;
}
.about_fieldset span{
    font-size: 15px;
}
.form_grouped{
    margin: 5px 0;
    width: 90%;
}
legend{
    color: var(--icon-bg);
    font-size: 18px;
    border-radius: 8px;
    padding: 2px;
    margin-left: 10px;
}
textarea{
    padding: 5px 10px;
    font-size: 15px;
    border: 0;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 1px 2px 5px rgb(162, 162, 162);
    margin-top:15px ;
    margin-bottom: 10px;
}

input[type=submit]{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: var(--button);
   border: 0;
    font-size: 15px;
    font-weight: 700;
    color: aliceblue;
    margin: 4px 0;
    cursor: pointer;
}
input[type=submit]:hover{
    opacity: 0.8;
}
.sass{
    grid-area: sass;
    text-align: center;
    line-height: 23px;
}
.css{
    grid-area: css;
    text-align: center;
    line-height: 23px;
    margin-top: 5px;
}

.boots{
    grid-area: boots;
    text-align: center;
    line-height: 23px;
}
.html{
    grid-area: html;
    text-align: center;
    line-height: 23px;
    margin-top: 5px;
}
.react{
    grid-area: react;
    text-align: center;
    line-height: 23px;
}
.js{
    grid-area: js;
    text-align: center;
    line-height: 23px;
}
.git{
    grid-area: git;
    text-align: center;
    line-height: 23px;
}
.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "html css"
                        "sass boots"
                         "js react"
                         "git git";
    gap: 20px 40px;
    margin: 25px 0;
    padding: 5px 18px;
    box-sizing: content-box;
    width: 70%;
    background-color:var(--inner-layer);
    border-radius: 8px;
    box-shadow: var(--inner-shadow); 
}
.skills_icon{
    @extend .whatsapp;
    color: var(--skills-icon);
    width: 80px;
    height: 80px;
    animation:skillTools 1s infinite forwards;
    }
    @keyframes skillTools {
    50%{
        box-shadow:3px 3px 10px rgb(95, 95, 230) ;
    }
    }
   
    .controller{
        display: flex;
        justify-content: space-between;
        width: 325px;
    }
    .controller span{
        font-size: 25px;
        font-family: 600;
        color: silver;
        cursor: pointer;
    }
    .controll-set{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        top:-332px;
    }

    button{
        border:none;
    }
  
    .scroll-body{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 305px;
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        height: max-content;
        -ms-overflow-style: none;
         scrollbar-width: none; 
         margin-top: 10px;
         scroll-behavior: smooth;
    }
    
    .scroll-body::-webkit-scrollbar {
        display: none;
      }
  
    .block2{
        width: 660px;
        height: 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        margin-right: 10px;
    }
    .block2 .img-set img{
        width: 280px;
        height: 200px;
        border-radius: 4px;
    }
    .block2 span{
        font-size: 15px;
        font-weight: 500;
        color: var(--curtain-bg);
    }
    .text-span{
        box-shadow:var(--inner-shadow);
        padding: 10px;
        border-radius: 8px;
        background-color: var(--inner-layer);
        box-sizing: content-box;
        margin: 4px;
        margin-bottom: 7px;
    }
    .img-span{
        box-shadow:var(--inner-shadow);
        padding: 8px;
        border-radius: 8px;
        background-color:var(--inner-layer); 
        margin: 4px;
        margin-bottom: 18px;
    }
    .carousel-set{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        top: -555px;
    }
    .carousel-indicator span{
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border:1px solid var(--skills-icon);
        display: inline-block;
        box-shadow: -1px 2px 2px rgb(162, 162, 162);
    }
    .active{
        background-color: var(--skills-icon);
    }
    .carousel-indicator{
        width:35px ;
        display: flex;
        justify-content: space-between;
    }
    .visit_link{
        width: 100%;
        display: flex;
        justify-content: center;
        color:var(--skills-icon);
        font-size: 17px;
        font-weight: 600;
        margin-top: 3px;
    }
 
    .footer{
        width: 100%;
        height: 60px;
        background: var(--header-footerbg);
        margin-top: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--header-footercolor);
        font-size: 13px;
        font-weight: 700;
        border-radius: 15px 15px 0 0;
        box-shadow: var(--inner-outer-shadow-footer);
    }
    .footer span{
        background-color: var(--inner-layer);
        border-radius: 8px;
        box-shadow: var(--inner-shadow);
        box-sizing: content-box;
        padding:1px 4px;
    }
    .desktopheaderGrid{
        display: none;
    }
    .center_div, .center_div1{
        display: flex;
        justify-content: center;
    }

   
   

    //big screen
    @media screen and (min-width:600px) {
        .block2 span{
            font-size: 16px;
        }
        .scroll-body{
            width: 410px;
        }
        .controller{
            width: 420px;
        }
      
        .block2 .img-set img{
            width: 380px;
            height: 240px;
            border-radius: 4px;
        }
        .controll-set{
            top:-287px;
        }
        .controller span{
            font-size: 30px;
        }
    }
    @media screen and (min-width:767px) and (max-width:1023px){
        
        h2{
            font-size: 14px;
        }
        .grouped{
            display: flex;
            justify-content: center;
        }
        .container{
            width: 80%;
        }
        .headerGrid{
            width: 0;
           
        }
         .dlogo{
        grid-area: dlogo;
    }
    .dlogo img{
        width: 32px;
        height: 37px;
    }
    .about{
        grid-area: about;

    }
    .skills{
        grid-area: skills;
    }
    .project{
        grid-area: projects;
    }
    .contact{
        grid-area: contact;
    }
    .dswitch{
        grid-area: dswitch;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
    }
    
    .desktopheaderGrid{
        display:grid;
        grid-template-areas: "dlogo about skills projects contact dswitch";
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
        width: 90%;
        background-color:var(--inner-layer);
        border-radius: 8px;
        padding: 2px;
        box-shadow: var(--inner-shadow);
        height: 40px;
        box-sizing: content-box;
        align-items: center;
    }
    .desktopheaderGrid a{
        color: var(--header-footercolor) ;
        font-size: 18px;
    }
    .desktopheaderGrid a span:hover{
        color:rgb(205, 203, 203);
    }
    .myHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        font-size: 14px;
    }
    .curtain_menu{
        width:0;
    }
    .blurry{
        filter: blur(0);
    }
  
    }

    @media screen and (min-width:1024px){
        h2{
            font-size: 17px;
            margin-top: 22px;
        }
        .grouped{
            display: flex;
            justify-content: center;
        }
        .container{
            width: 90%;
        }
        .headerGrid{
            width: 0;
        }
         .dlogo{
        grid-area: dlogo;
    }
    .dlogo img{
        width: 38px;
        height: 43px;
        margin-left: 8px;
    }
    .about{
        grid-area: about;

    }
    .skills{
        grid-area: skills;
    }
    .project{
        grid-area: projects;
    }
    .contact{
        grid-area: contact;
    }
    .dswitch{
        grid-area: dswitch;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
    }
    .skills_icon{
        width: 120px;
        height: 120px;
        }
    
    .desktopheaderGrid{
        display:grid;
        grid-template-areas: "dlogo about skills projects contact dswitch";
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
        width: 90%;
        background-color:var(--inner-layer);
        border-radius: 8px;
        padding: 2px;
        box-shadow: var(--inner-shadow);
        height: 40px;
        box-sizing: content-box;
        align-items: center;
    }
    .desktopheaderGrid a{
        color: var(--header-footercolor) ;
        font-size: 18px;
    }
    .myHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        font-size: 14px;
    }
    .curtain_menu{
        width:0;
    }
    .blurry{
        filter: blur(0);
    }
    .block2 span{
        font-size: 16px;
    }
    .scroll-body{
        width: 1000px;
        flex-wrap: wrap;
    }
    .controller{
       display: none;
    }
  
    .block2 .img-set img{
        width: 100%;
        height: 250px;
        border-radius: 4px;
    }
    .controll-set, .carousel-set{
     display :none
    }
    .block2{
    width: 430px;
    height: 500px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-right: 10px;
    border: 1px solid #3e444e;
    border-radius: 12px;
    padding: 8px 8px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px gray;
    }
    .block2:hover{
     border:2px solid rgb(100, 100, 239);
    }
    .project_layout{
        overflow-x: hidden;
    }
    .intro-img img{
        width: 125px;
        height: 135px;
        animation: logoBlink 1s infinite forwards;
    }
   
    .about_fieldset span, .skill_fieldset span, .contact_fieldset label{
        font-size:18px !important;
    }
    legend{
        font-size: 18px;
    }
    .desktopheaderGrid a span:hover{
        color:rgb(205, 203, 203);
    }
    .git{
        grid-area: git;
        text-align: center;
        line-height: 23px;
        margin-top: -329px;
    }
    }
    @media screen and (min-width:1300px){
        .form_grouped{
            margin: 5px 0;
            width: 55%;
        }
    }