@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Bree+Serif&family=Kanit:wght@300;500&family=Kdam+Thmor+Pro&family=League+Spartan:wght@100..900&family=Merriweather+Sans&family=Montserrat:wght@400;500&family=Newsreader:opsz@6..72&family=Oswald&family=Outfit:wght@100..900&family=Poppins&family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --body-bg:#0d1117;
    --header-footerbg:#151b24;
    --header-footercolor:aliceblue;
    --curtain-bg:#f6f8fa;
    --body-text:hsl(0,0%,100%);
    --icon-bg:aliceblue;
    --icon-shadow:rgb(68, 68, 223);
    --layout:#151b24;
    --layout-shadow:#4a5669;
    --dauntless-color:rgb(68, 68, 223);
    --headericon-shadow: drop-shadow(5px 5px 10px rgb(68, 68, 223));
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h2{
    font-size: 0.9em;
    font-weight: 600;
    color: var(--body-text);
    margin-top: 15px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-bg);
    transition: background-color .5s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    overflow-x: hidden;
}

.container{
    padding: 0 10px;
    padding-top:60px ;
}
.myHeader{
    height: 60px;
    width:100%;
    position:fixed;
    border-style:solid;
    display:flex;
    align-items: center;
    border: none;
    z-index: 3;
    background-color:var(--header-footerbg);
    top: 0;
    left: 0;
    right: 0;
}
.headerGrid{
    display:grid;
    grid-template-areas: "logo brand switch menu";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    transition: width 0.5s ease-in;
    height: 100%;
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width:35px;
    height: 35px;
}
.brand{
    grid-area:brand;
}
.switch{
    grid-area:switch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    grid-area:menu;
    display: flex;
    align-items: center;
     justify-content: center;
}
.curtain_menu{
    width:0;
    height: 85vh;
    position: fixed;
    transition:width 0.5s ease-in;
    margin-top: 60px;
    z-index: 1;
    border-radius: 0 10px 10px 0px;
    overflow-x: hidden;
    background-color:var(--curtain-bg);
    display: flex;
    justify-content:center;
}
.blurry{
    filter: blur(4px);
}
a{
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    color:var(--body-bg);
}
nav{
    text-align: left;
    margin-top: 25px;
    width: 86%;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide_link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.curtain_toggle{
    width:60%
}

.icon_size{
 font-size: 25px;
 color:var(--header-footercolor);
 cursor: pointer;
 filter:var(--headericon-shadow);
}

.animate {
	font-size: 30px;
    margin: 8px 0;
    font-weight: 700;
    -webkit-box-reflect: below -8px linear-gradient(transparent, rgba(0,0,0,.2));
}

.animate span {
	display: inline-block;
}


.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}
.animate span:nth-of-type(21) {
	animation-delay: 1.0s;
}

.one span {
	color: var(--dauntless-color);
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale .4s  forwards;
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}
.animation_container{
    width: 100%;
    justify-content: center;
    display: flex;
}

.intro-img img{
    width: 65px;
    height: 75px;
    animation: logoBlink 1s infinite forwards;
}
.intro-img{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
@keyframes logoBlink {
  
    50%{
    filter:drop-shadow(3px 3px 10px rgb(79, 79, 174));
    width: 64px;
    } 
}
.contact_container{
    width: 130px;
    justify-content: space-between;
    height: 50px;
    display: flex;
    align-items: center;
}
.github, .x, .ldn, .whatsapp{
    width: 30px;
    height:30px;
    color:var(--icon-bg);
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    border-color: rgb(55, 55, 187);
    box-shadow:2px 2px 10px var(--icon-shadow);
}

.resume{
    width:105px;
    height: 32px;
    border-style: solid;
    background-color: var(--icon-bg);
    color: var(--layout);
    border-width: 0;
    border-radius: 4px;
    box-shadow:2px 2px 10px var(--icon-shadow) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
.contact_layout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.writeme_layout{
    width: 100%;
    height: 497px;
    padding: 28px 15px;
    background-color: var(--layout);
    box-sizing: border-box;
    border-radius: 12px;
    margin:10px 0 ;
    color: var(--body-text);
    border-width: 1px;
    border-style: solid;
    border-color:#151b24;
    box-shadow: 2px 2px 10px var(--layout-shadow);
}
.skills_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: 628px;
}
.about_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: max-content;
}
.project_layout{
    @extend .writeme_layout;
    margin: 30px 0;
    height: max-content;
}
.writeme_layout input[type=email], input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid #0663f7;
}
input{
    display: block;
}
label{
    font-size: 13px;
    font-weight: 600;
}
.skill_fieldset{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgb(76, 76, 245) ;
    border-width: .8px;
    border-radius: 5px;
    height: 560px;
}
.contact_fieldset{
    @extend .skill_fieldset;
    height: 400px;
    padding-top: 12px;
    height: 430px;
}
.about_fieldset{
    @extend .skill_fieldset;
    padding: 13px 10px;
    height: max-content;
}
.project_fieldset{
    @extend .skill_fieldset;
    padding: 13px 10px;
    height: 410px;
}
.about_fieldset span{
    font-size: 14px;
}
.form_grouped{
    margin: 5px 0;
    width: 90%;
}
legend{
    color: var(--icon-bg);
    font-size: 18px;
    text-shadow: 5px 5px  10px var(--icon-shadow);
}
textarea{
    border: 1px solid #0663f7;
    margin-top: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

input[type=submit]{
    width: 80px;
    height: 28px;
    border-radius: 6px;
    background-color: var(--dauntless-color);
    border-color: aliceblue;
    border-width: .8px;
    font-size: 12px;
    color: aliceblue;
    margin: 4px 0;
    cursor: pointer;
}
.sass{
    grid-area: sass;
    text-align: center;
    line-height: 23px;
}
.css{
    grid-area: css;
    text-align: center;
    line-height: 23px;
    margin-top: 5px;
}

.boots{
    grid-area: boots;
    text-align: center;
    line-height: 23px;
}
.html{
    grid-area: html;
    text-align: center;
    line-height: 23px;
    margin-top: 5px;
}
.react{
    grid-area: react;
    text-align: center;
    line-height: 23px;
}
.js{
    grid-area: js;
    text-align: center;
    line-height: 23px;
}
.git{
    grid-area: git;
    text-align: center;
    line-height: 23px;
}
.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "html css"
                        "sass boots"
                         "js react"
                         "git git";
    gap: 20px 40px;
    margin: 25px 0;
    padding: 0 10px;
    width: 70%;
}
.skills_icon{
    @extend .whatsapp;
    width: 80px;
    height: 80px;
    animation:skillTools 1s infinite forwards;
    }
    @keyframes skillTools {
    50%{
        box-shadow:3px 3px 10px rgb(95, 95, 230) ;
    }
    }
   
    .left, .right{
        width: 33px;
        height: 33px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--dauntless-color);
        cursor: pointer;
        animation: controller 1.5s infinite forwards;
    }
    .left{
        visibility: hidden;
    }
    .controller{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        margin-top: -220px;
    }
    @keyframes controller {
        50%{
            width: 34px;
            height: 33px;
        }
    }
    .chevron-right, .chevron-left{
        color:aliceblue;
        font-size: 30px;
    }
    button{
        border:none;
    }
    .temp_bg{
        padding: 8px 12px;
        height: 348px;
        box-sizing: border-box;
        position: relative;
    }
    .temp_bg a{
        color:var(--body-text);
        font-size: 16px;
    }
    .temp_bg img{
        width:100%;
        border-radius: 8px;
        height:200px ;
        margin-bottom: 5px;
    }
    .img-set{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .visit_link{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 14px;
    }
    .img_grid .temp_bg:nth-last-of-type(2){
        display: none;
    }
    .footer{
        width: 100%;
        height: 65px;
        background-color: var(--header-footerbg);
        margin-top: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--header-footercolor);
        font-size: 12px;
    }
    .desktopheaderGrid{
        display: none;
    }
    .center_div{
        display: flex;
        justify-content: center;
    }
    #load_page{
        opacity:0.1;
        transition: opacity .5s;
    }
    .animation_bg{
        width: 70%;
        height: 4px;
        background-color: aliceblue;
        display: flex;
        align-items: center;
    }
    .myloader{
        width: 15%;
        height: 2px;
        background-color:rgb(68, 68, 223) ;
        animation: myLoader 2s  ease-in-out infinite;
    }
    @keyframes myLoader {
        50%{
            transform: translateX(565%);
        } 
    }
    .centerAnimation{
        width: 100%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 4;
        background-color:var(--body-bg) ;
    }
   .flex{
    display:flex;
    justify-content: space-between;
    width: 260px;
    align-items: center;
   }
   

    //big screen
    
    @media screen and (min-width:980px){
        h2{
            font-size: 14px;
        }
        .grouped{
            display: flex;
            justify-content: center;
        }
        .container{
            width: 70%;
        }
        .headerGrid{
            width: 0;
        }
        .temp_bg img{
            width:450px;
            border-radius: 4px;
            height:270px ;
        }
         .dlogo{
        grid-area: dlogo;
    }
    .dlogo img{
        width: 38px;
        height: 43px;
    }
    .about{
        grid-area: about;

    }
    .skills{
        grid-area: skills;
    }
    .project{
        grid-area: projects;
    }
    .contact{
        grid-area: contact;
    }
    .dswitch{
        grid-area: dswitch;
        display: flex;
        justify-content: flex-end;
    }
    
    .desktopheaderGrid{
        display:grid;
        grid-template-areas: "dlogo about skills projects contact dswitch";
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
        width: 90%;
        align-items: center;
    }
    .desktopheaderGrid a{
        color: var(--header-footercolor) ;
        font-size: 18px;
    }
    .myHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        font-size: 14px;
    }
    .curtain_menu{
        width:0;
    }
    .blurry{
        filter: blur(0);
    }
    }
    @media screen and (min-width:1300px){
        .form_grouped{
            margin: 5px 0;
            width: 60%;
        }
    }